* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;        
    justify-content: center;/* position of container */
    align-items: center;
    height: 100vh;
    background-image: url(../loginpp.jpg);
    background-size:cover; 
     background-position: center; 
    background-repeat: no-repeat; /* no repeating */
    height: 100vh; 
    margin: 0;
    
  }
  /* cointainer of both login and signup pages */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-form, .signup-form {
    width: 30rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight:700;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  /* button of create account */
  button{
    width: 100%;
    padding: 10px;
    background-color:#333333;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color:black;
    color: #F5F5F5;
  }

  #logintohome{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 2rem;
    background-color:#333333;
    color:white;
  }

  .create-account, .login-link{
    text-align: center;    /*last p tag*/
    margin-top: 10px;   
  }
  .create-account a, .login-link a {
    color:blue;
    text-decoration: none;
  }
  

  