@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    
    
}

html {
    font-size: 62.5%;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.header {
    
    background-color:#282c34;
    
}

.navbar {
     height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover {
    cursor: pointer;
    color: #B66A50;
}

.nav-logo {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}
.navbar img:hover{
 transform: scale(1.05);
}