* {
  margin: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: large;
  margin-top:1rem;
}
.video video {
  position: absolute;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Backward layer */
}
.texts {
  position: absolute;
  top: 17%;
  left: 5%;
  color: white;
  text-align: left;
  width: 30%;
  z-index: 1; /*Front Layer */
}
.texts h1 span {
  color:white
}
.texts h1 {
  margin: 8px 0px;
  color: #B66A50;
}
#homep{
  width: 100%;
  color: white;
  font-size: 2rem;
}
.texts button {
  background-color: #333333;
  margin: 27px 0px;
  border-radius: 23px;
  color:white;
  border: none;
  padding: 16px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* button of buy watch */
.texts button:hover {
  background-color:#F5F5F5;
  color: black;
}
/* second css */
.secondcontainer {
  width: 100%; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.secondcontainer p {
  font-size: 4.5rem;
  margin: 3rem 0rem;
}
.secondcontainer p:hover{
  text-decoration: underline;
  color: #B66A50;
}
.secondcontainer .small-container {
  display: flex;
  margin: 3rem 0rem;
}
.secondcontainer .small-container img {
  transition: transform 0.3s;
}
.small-container{
  filter: drop-shadow(7px 9px 8px black);
}
.small-container img {
  animation: flow 3s ease-in-out infinite;
  animation-direction: alternate-reverse;
}
.secondcontainer .small-container img:hover {
  transform: scale(1.1);
}
/* third cointeiner css */
.thirdcontainer {
  width: 100%;
  height: 70vh; 
  display: flex; 
  flex-direction: column; 
  justify-content:center; 
  align-items: center; 
  background: linear-gradient(
    135deg,
    #333333 ,
    #FFFFFF
  ); /* Attractive gradient background */
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center; 
}
.thirdcontainer i {
  font-size: 10rem; 
  margin-bottom: 20px; 
  animation: bounce 2s infinite; /* Adding animation to icon */
}
.thirdcontainer p {
  font-size: 4rem; 
  font-weight: bold; 
  margin: 0;
}
/* Bounce animation for the icon */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/* flow animation */
@keyframes flow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}